{
    "env": {
        "browser": true,
        "es2020": true
    },
    "extends": [
        "airbnb",
        "prettier",
        "prettier/react",
        "eslint:recommended",
        "plugin:react/recommended"
    ],
    "globals": {
        "Atomics": "readonly",
        "SharedArrayBuffer": "readonly"
    },
    "parserOptions": {
        "ecmaFeatures": {
            "jsx": true
        },
        "ecmaVersion": 11,
        "sourceType": "module"
    },
    "plugins": ["react", "prettier"],
    "rules": {
        "prettier/prettier": "error",
        "react/jsx-filename-extension": [
            "warm",
            { "extensions": [".jsx", ".js"] }
        ],
        "import/prefer-default-export": "off",
        "no-console": ["error", { "allow": ["tron"] }]
    }
}
